/*reglas 
selectores 
declaraciones 
propiedades 
valores*/

header{
    background: rgb(240, 204, 229);
    color: blue;
}

/* selector de etiqueta  ...ej: header-section-article-nav....*/

/* selector descendente*/
/*body header nav ol li a {}*/

/*selector no descendente--se le aplica el estilo
o cambio a todos los selectores*/
/*h1,h2,h3*/


/* selector de clase  .  =  .portfolio o .link*/
/* selector de id  # =  #portfolio o #link*/



body{
    font-family: 'Fjalla One', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family:'inherit';
}
