/*reglas 
selectores 
declaraciones 
propiedades 
valores*/

/* selector de etiqueta  ...ej: header-section-article-nav....*/

/* selector descendente*/
/*body header nav ol li a {}*/

/*selector no descendente--se le aplica el estilo
o cambio a todos los selectores*/
/*h1,h2,h3*/


/* selector de clase  .  =  .portfolio o .link*/
/* selector de id  # =  #portfolio o #link*/



body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family:'Fjalla One', sans-serif;
    font-weight: normal;
   /* font-style: italic;*/
}

/*Salto de línea*/

h1{
    font-size: 40px;
    line-height:1.5em;
    letter-spacing:normal;
    text-transform:uppercase;
    text-decoration:dashed;
    color: mintcream;
    margin: 100px 300px 70px 2px;
}

h1 strong{
    color: teal;
}

h2{
    color: teal;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

figure{
    margin: 0;
}
/*Instalar un color piker / color snaper, es un gotero que te ayuda a ver que colores hay 
por internet */

/*HEADER*/
.header{
    background-color:rebeccapurple;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}



.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
    
}
.menu{
    height: inherit;
}


.header ol{
    display: flex;
    height: inherit;
}

header ol li{
    height: inherit;
}

ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    height: inherit;
}

/*Presentacion importante ../ se sale de la carpeta para coger archivos*/
.hero{
    height: 300px;
    background-image: url("../ilu-Recuperado.jpg");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: midnightblue;
    display: flex;
    margin: 0;
    align-items: center;
}

h1 strong{
    color: orchid;
}


/*Mis proyectos*/
.portfolio{
    background:whitesmoke;
    padding: 20px;
}
.project{
    /*como funciona los bordes = tamaño tipo estilo*/
   /* border-top: 10px solid royalblue;
    border-right: 10px solid coral;
    border-bottom: 10px solid cadetblue;
    border-left: 10px solid brown;*/
  /* border-color: beige;*/
  /*  border-top-color: blueviolet;
    border-top-width: 9px;
    border-top-style: solid; 
     box-sizing: border-box;
    */
    border-radius: 10px;
    border:1px solid gray;
    /*border-top-left-radius: 30px;
    border-top-right-radius: 30px;*/
    margin-bottom: 15px;
    padding:20px;
    background: rgb(248, 248, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.project-course,
.project-date
.project-url{
    margin: 10px 0;
}

.project-text{
    font-size: 16px;

}
.project-title{
    font-size: 30px;
    margin: 10px 0;

}

.project strong{
    font-family:'Fjalla One', sans-serif;
}

.project-details{
    width: 500px;
    display:inline-block;
}

.project-imageContainer{
    width: 500px;
    display:inline-block;   
}

/*LOS EVENTOS*/

.event-father{
    display: flex;
    flex-wrap: wrap;
}
.event-encabezado{
    margin-left: 20px;
}

.event{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: yellow;
}

.event a{
    border: 1px solid;
    padding:  5px 20px;
    text-decoration: none;
    color: blue;
    border-radius: 15px;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;

}

.event-detail{
    margin:20px 40px;
    background-color: violet;
    margin-top: -70px;
    position: relative;
    padding: 20px;
    text-align:center;
}

.event-text{
    text-align: left;
}

/*AREA DE CONTACTOS*/
.contact{
    background-color: rgb(36, 39, 228);
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.social a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    margin: 0px 10px;
       
}
.social-red{
    background-image: url();     
}
.form-email{
    margin: 20px;
}
.form-email input{
    border-color: yellowgreen;
    padding: 5px 20px;
    border-radius: 5px;
}
.form-email button{
    display:block;
    background: transparent;
    color: white;
    padding: 5px 0;
    border-radius: 10px;
    width: 100px;
    margin: 10px auto 0;
    border:1px solid white ;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    /*flex-direction: column;*/
    justify-content: center;
    border: 1px solid blue;
    align-items:center;
   
}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    /*margin: 20px;*/
/*Evita que las cajas de flex se deformen, pero en consecuencia te da un scroll
bastante grande*/
    flex-shrink: 0;
}

.footer{
    background-color: lightcoral;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}