$myRed: red;
$myBlue:blue;
$border-radius:1px;
$border-radius1:4px;



.first_container{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    place-content: center;
    height: 100vh;




//--------------------------------CONTAINER RED---------------------------
.containerA{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(5,75px);
    font: {
        family: Verdana, Geneva, Tahoma, sans-serif;
        size: 12px;
        weight: 600;
    }
  
    .tip_span_A{
        display: block;
        margin-top:20px;
        margin-left: 15px;   
    }
    
        .box_1{
            background-color: $myRed;
            border-radius: $border-radius;

        }
        .box_2{
            background-color:darken($myRed,30%);
            border-radius: $border-radius;
        }
        .box_3{
            background-color:lighten($myRed,35%);
            border-radius: $border-radius;
        }

        .box_4{
            display: block;
            margin-top:20px;

            & span:nth-child(1){
                font-weight: initial;
                
            }
        }

        .box_5{
            border: 1px solid black;
            box-shadow: -10px 12px 9px black;
            border-radius: $border-radius;
        }


    }

//--------------------------------CONTAINER BLUE---------------------------


.containerB{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(5,75px);
    font: {
        family: Verdana, Geneva, Tahoma, sans-serif;
        size: 12px;
        weight: 600;
    }
  
    .tip_span_B{
        display: block;
        margin-top:20px;
        margin-left: 15px;   
    }
    
        .box_6{
            background-color: $myBlue;
            border-radius: $border-radius1;

        }
        .box_7{
            background-color:darken($myBlue,30%);
            border-radius: $border-radius1;
        }
        .box_8{
            background-color:lighten($myBlue,35%);
            border-radius: $border-radius1;
        }

        .box_9{
            display: block;
            margin-top:20px;
            font-weight: initial;
        }

        .box_10{
            border: 1px solid black;
            box-shadow: 10px 12px 9px black;
            border-radius: $border-radius1;
        }
    }

}