
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
}
@media only screen and (max-width: 768px){

.search{
    display: none;
}
    // ----------------------------------HEADER--------------------------------------------------
    .header{
        width: 100vw;
        background-color: rgb(20, 27, 34);
        font: {
            size: 8px;
            style: normal;
        }
        .header_title{
            padding: 8px;
            margin-left:15px;
            margin-bottom: 0;
        }
    }
    
    // ----------------------------------CONTAINER--------------------------------------------------
    
    .container{
    
        display: block;
        margin:0;
        background-color:pink;
        padding-bottom:20px;
    
    
    // ----------------------------------NAVIGATES--------------------------------------------------
        .cont_navigate{
            width: 100vw;
            background-color:rgb(42, 40, 54);
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
            
            .title_navigate{
               display: none;
            }

            .navigates{
                color: inherit;
                text-decoration: none;
                background-color: rgb(125, 121, 126);
                font-size: 20px;
                padding: 6px;
    
            
                &:hover{
                    background-color: lightcoral;
                    color: rgb(42, 40, 54);
                }
            }
    
        }
    
    // ----------------------------------IMAGES--------------------------------------------------
    
        .cont_images{
                display:flex;
                flex-direction: column;
                justify-content:space-between;
               
    
    
            .box_image{
                margin:0 20px 3px;
                background-color: rgb(44, 40, 44);
                border-radius:5px;
                display:flex;
                align-items: center;
                height: 100px;
            
    
            .image{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                margin: 30px;
            }
    
        }
    
        }
    
    
    }
    
    // ----------------------------------FOOTER--------------------------------------------------
    
    
    .footer{
        width: 100vw;
        background-color: rgb(207, 34, 150);
        font: {
            size: 20px;
            style: normal;
        }
        .title_footer{
            padding: 9px;
            margin:0 15px 0;
        }
    }
    

}











@media only screen and (min-width: 768px){
.search{
    margin-left: 20px;
}
// ----------------------------------HEADER--------------------------------------------------
.header{
    width: 100vw;
    background-color: rgb(20, 27, 34);
    font: {
        size: 10px;
        style: normal;
    }
    .header_title{
        padding: 8px;
        margin-left:20px;
        margin-bottom: 0;
    }
}

// ----------------------------------CONTAINER--------------------------------------------------

.container{

    display: flex;
    margin:0;
    width:100vw;
    height: 100vh;
    background-color:pink;


// ----------------------------------NAVIGATES--------------------------------------------------
    .cont_navigate{
        width: 30%;
        background-color:rgb(42, 40, 54);
        display:grid;
        grid-template-rows: 70px repeat(4,30px);
        

        .title_navigate{
            font: {
                size: 9px;
                weight:400;
            }
            padding: 20px;
            text-align: center;

        }
        .navigates{
            color: inherit;
            text-decoration: none;
            background-color: rgb(125, 121, 126);
            font-size: 15px;
            padding: 6px;
        
            &:hover{
                background-color: lightcoral;
                color: rgb(42, 40, 54);
                font-weight:800;
            }
        }

    }

// ----------------------------------IMAGES--------------------------------------------------

    .cont_images{
            display:flex;
            flex-wrap: wrap;
            justify-content:space-between;
            place-items: center;
            place-content: center;
    


        .box_image{
            margin:9px;
            background-color: rgb(44, 40, 44);
            width: 230px;
            height: 170px;
            border-radius:10px;
            display:grid;
            place-content: center;
            place-items: center;
            
        

        .image{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }

    }

    }


}

// ----------------------------------FOOTER--------------------------------------------------


.footer{
    width: 100vw;
    background-color: rgb(207, 34, 150);
    font: {
        size: 20px;
        style: normal;
    }
    .title_footer{
        padding: 8px;
        margin-left: 20px;
        margin: 0;
    }
}
}